### K-Means Clustering
Using the same seattle weather data as last chapter develop a linear regression model

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv')

numrows = 25549


dt_df = pd.DataFrame({'today':[0.0]*numrows,
                 'tomorrow':[True]*numrows})

#sort columns for convience
seq = ['today',
       'tomorrow']

dt_df = dt_df.reindex(columns=seq)

for i in range(0 , numrows):
    tomorrow = df.iloc[i,1]
    today = df.iloc[(i-1),1]
    dt_df.iat[i,1] = tomorrow
    dt_df.iat[i,0] = today

dt_df = dt_df.dropna() #exclude any rows with missing data

In [2]:
dt_df.head()

   today  tomorrow
0   0.00      True
1   0.47      True
2   0.59      True
3   0.42      True
4   0.31      True

In [4]:
from sklearn.cluster import KMeans
x = dt_df.today.values
y = dt_df.tomorrow.values
x = x.reshape(dt_df.shape[0], 1)
#y = y.reshape(dt_df.shape[0], 1)

In [6]:
kmeansmodel = KMeans(n_clusters=3, random_state=13)
kmeansmodel.fit(x)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=13, tol=0.0001, verbose=0)

In [7]:
pd.value_counts(kmeansmodel.labels_)

0    21713
2     3314
1      519
dtype: int64

In [9]:
dt_df['Cluster'] = kmeansmodel.labels_
dt_df.head()

   today  tomorrow  Cluster
0   0.00      True        0
1   0.47      True        2
2   0.59      True        2
3   0.42      True        2
4   0.31      True        2

In [10]:
dt_df.groupby('Cluster').mean()

            today  tomorrow
Cluster
0        0.027789  0.366370
1        1.263738  0.849711
2        0.438890  0.756186

In [11]:
dt_df.groupby('Cluster').describe()

           today
           count      mean       std   min   25%   50%   75%   max
Cluster
0        21713.0  0.027789  0.054407  0.00  0.00  0.00  0.02  0.23
1          519.0  1.263738  0.462783  0.86  0.96  1.13  1.37  5.02
2         3314.0  0.438890  0.163644  0.24  0.30  0.39  0.55  0.85

In [12]:
kmeansmodel.cluster_centers_

array([[0.02778934],
       [1.26373796],
       [0.43888956]])